<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footerFragment">
    <div class="container mt-2">
        <div class="d-flex justify-content-center">
            <p class="mr-1">Copyright 2023.</p>
            <a class="mr-1 text-blue hover-text-blue-bold" style="text-decoration:none;" href="#">Tiki Taka.</a>
        </div>
        <div class="d-flex justify-content-center">
            <p>Unable to copied without permission.</p>
        </div>
    </div>
</footer>
</body>
</html>