.bg-linear-gradient {
    background: linear-gradient(180deg, #7F8AE5 0%, #E3DCEA 41.15%, rgba(255, 243, 236, 0.23) 77.08%, #FFFFFF 100%);
}

.logo p {
    font-size: 100px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.timeline-background {
    width: 600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 600px) {
    .timeline-background {
        width: 100%;
    }
}

.v-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: auto;
    height: 100vh;
}

.form-selections-edit-btn {
    color: #65758E;
}

@media (max-width: 418px) {
    .form-selections-edit-btn {
        font-size: 0.9rem;
    }
}

.profile {
    font-family: 'Noto Sans KR', sans-serif;
    height: 48px;
    margin-left: 10px;
    margin-top: 20px;
}

.profile img {
    height: 48px;
    width: 48px;
    border-radius: 70%;
    overflow: hidden;
}

.profile-circle {
    position: absolute;
    background-color: #CA5151;
    width: 10px;
    height: 10px;

    left: 70px;
    top: 20px;

    border-radius: 70%;
    z-index: 999;
}

.hashtag p {
    color: #7F61E9 !important;
}

.timeline-content-title {
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
}

.vote-background-1 {
    height: 100%;
    width: 93%;
    margin: auto;

    background: linear-gradient(254.72deg, rgba(255, 222, 125, 0.5) -23.18%, rgba(122, 87, 246, 0.5) 84.66%);
    backdrop-filter: blur(2px);
    box-shadow: 3px 8px 20px rgb(197, 197, 197);

    border-radius: 13px;
}

.vote-card-date {
    color: white;
    margin-right: 15px;
    font-size: 20px;
    height: 3rem;
    text-align: right;
}

.vote-option-tl {
    display: none;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 300px;
    height: 55px;
    background: #FFF2E9;
    opacity: 0.4;
    border-radius: 100px;
    z-index: 1;
}

.vote-bookmark {
    background-color: transparent;
    border: none;
}

.vote-background-2{
    height: 100%;
    width: 93%;
    margin: auto;

    background: linear-gradient(254.72deg, #FFDE7D -23.18%, #7A57F6 84.66%);
    box-shadow: 3px 8px 20px rgb(197, 197, 197);

    border-radius: 13px;
}

.vote-background-circle {
    margin-top: 5px;
    margin-left: 10px;
}

.vote-background-button {
    height: 30px;
    width: 78px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #fff;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 10px;
    background-color: #6c757d;
    border-color: #6c757d;
    opacity: 0.8;
    border-radius: 13px;
}

.vote-background-p {
    color: white;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
    word-break: break-all;
    white-space: normal;
    margin-bottom: 0px !important;
    text-align: center;
    margin-top: 10px;
    padding: 35px;
}

#vote-background-image-vote {
    color: white;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
    word-break: break-all;
    white-space: normal;
    margin-bottom: 0px !important;
    text-align: center;
    margin-top: 30px;
    padding: 35px;
}

.vote-background-dday {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px !important;
    color: white !important;
}

.vote-best-and-due {
    position: relative;
    bottom: 5px;
}

.comment-id {
    font-weight: bold; display:inline-block;
}

.cm-block {
    display: inline-block; float: right; width: 80%; height: 20px;
}

.cm-text {
    float: left;
    padding-left: 10px;
    font-size: 15px;
    width: 90%;
}

.comment-area {
    margin-left: 10px; display: flex; height: 100%
}

.icons button {
    background-color: transparent;
    fill: gray;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icons button:hover {
    fill: #7F61E9;
}

.icons img {
    fill: #BCB5D2;
}

.icons img:hover {
    filter: invert(47%) sepia(38%) saturate(6705%) hue-rotate(233deg) brightness(97%) contrast(89%);
}

.bottom-navbar {
    background-color: white;
}

.floating-button {
    position: fixed;
    margin: auto;
    bottom: 1px;
    z-index: 998;
}

.text-blue {
    color: #322293;
}

.text-shadow-blue {
    text-shadow: -4px 6px 6px #322293;
}

.text-shadow-white {
    text-shadow: -4px 6px 6px white;
}

.hover-blue-bold:hover {
    color: #322293;
    font-weight: bold;
}

.bg-login-input {
    background: rgba(255, 255, 255, 0.5);
}

.radius-20 {
    border-radius: 20px;
}

.border-none {
    border: none;
}

.border-blue {
    border: 1px solid #322293;
}

.bg-none {
    background: none;
}

.signup-input-memo {
    width: 80%;
    display: block;
    margin: auto;
}

.signup-input-label {
    margin-left: 60px;
}

.signup-input {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: none;
    width: 80%;
}

.signup-input:focus {
    outline: none;
}

@media (max-width: 481px) {
    .signup-input {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        border: none;
        width: 80%;
    }

    .signup-input:focus {
        outline: none;
    }
}

@media (max-width: 418px) {
    .signup-input-label {
        margin-left: 75px;
    }
    .signup-input {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        border: none;
        width: 70%;
    }
    .signup-input-memo {
        width: 70%;
        display: block;
        margin: auto;
    }
}

.login-submit {
    background: none;
    border-radius: 20px;
    border: 1px solid #322293;
    color: #322293;
}

.login-submit:hover {
    background: #322293;
    color: white;
}

.signup-submit {
    background: none;
    border-radius: 20px;
    border: 1px solid #322293;
    color: #322293;
    width: 80%;
}

.login-submit:hover {
    background: #322293;
    color: white;
}

@media (max-width: 418px) {
    .signup-submit {
        width: 70%;
    }
}

.hover-cursor-pointer:hover {
    cursor: pointer;
}

.hover-shadow-white:hover {
    box-shadow: 0px 0px 5px 5px white;
}

.custom-form {
    position: relative;
}

.custom-form-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
}

.custom-botton {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #7A57F6;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
}

/* 전체,팔로우 버튼*/
.all-follow-btn {
    width: 300px;
    background: white;
    border: none;
    color: black;
    border-radius: 0px !important;
}

.all-follow-btn:hover {
    color: black !important;
    background: #fff !important;
}

.all-follow-btn:focus {
    color: black !important;
    background: #fff !important;
    box-shadow: none !important;
}

@media (max-width: 600px) {
    .all-follow-btn {
        width: 50vw;
    }
}

.search-cancel-btn {
    background: white;
    border: none;
    color: black;
    border-radius: 0px !important;
}

.search-cancel-btn:hover {
    color: black !important;
    background: #fff !important;
}

.search-cancel-btn:focus {
    color: black !important;
    background: #fff !important;
    box-shadow: none !important;
}

.look-result-all-btn {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 120px;
    display: block;
    border: none;
    color: #7F61E9;
    background-color: #FFFFFF;
}

.password-validate {
    width: 380px;
    font-size: 80%;
    color: #3b3b3b;
    text-align: left;
}

.signup-hr {
    width: 80px;
    background-color: darkgray;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 481px) {
    .signup-hr {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .title-margin-bottom {
        margin-bottom: 0px !important;
    }
}

.signup-height {
    height: 110% !important;
}

.pickgether-title {
    margin-top: 50px;
    min-height: 100%;
}

@media (max-height: 600px) {
    .signup-height {
        height: 160% !important;
    }
}

@media (max-height: 700px) and (min-height: 601px) {
    .signup-height {
        height: 165% !important;
    }

    .pickgether-title {
        margin-top: 230px;
        min-height: 100%;
    }
}

@media (max-height: 800px) and (min-height: 701px) {
    .signup-height {
        height: 140% !important;
    }
}

@media (max-height: 900px) and (min-height: 801px) {
    .signup-height {
        height: 120% !important;
    }
}

.vote-select-box {
    position: relative;
    margin: .5rem; !important
}
.vote-select-btn {
    display: none;
}

.vote-submit-btn {
    border: none; !important;
    margin-top: 5px; !important;
    background-color: transparent; !important;
    filter: invert(98%) sepia(100%) saturate(20%) hue-rotate(307deg) brightness(105%) contrast(100%); !important;
}


.vote-button-check {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.option-label {
    width: 28rem; !important;
    line-height: 1.25rem; !important;
    padding-left: 1rem; !important;
    padding-right: 1rem; !important;
    margin: 0 !important;
}

.pick-percent {
    display: none; !important;
    position: absolute; !important;
    top: 0px;
    left: 0px;
    height: 55px;
    background: #FFF2E9;
    opacity: 0.4;
    border-radius: 100px;
    z-index: 1; !important;
}

.vote-analyze-btn {
    border: none;
    display: none;
    margin-top: 5px;
    background-color: transparent;
}

.vote-submit-btn {
    border: none;
    margin-top: 5px;
    background-color: transparent;
    filter: invert(98%) sepia(100%) saturate(20%) hue-rotate(307deg) brightness(105%) contrast(100%);
}

.vote-select-btn+label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55px;
    width: 90%;
    margin-top: 10px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    border-radius: 100px;
    border: none;
    text-align: center;
    opacity: 0.8;
    z-index: 10;
}

.vote-button-check input[type=radio]:checked+label {
    background: #7F8AE5;
    color: #FFF2E9;
}

comment-circle {
    height: 42px; width: 42px;
}

/*-- participants.html start --*/
.p-background {
    width: 600px;
    /*height: 100vh;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

@media (max-width: 600px) {
    .p-background {
        width: 100%;
    }

    .p-margin {
        margin: 0.5rem !important;
    }
}

.p-font {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .p-font {
        font-size: 0.8rem;
    }
}

.p-title {
    font-size: 18pt;
}
.p-title-margin {
    margin-left: 1.625rem;
    margin-right: 1.625rem;
}
.p-subtitle {
    font-size: 1.25rem;
}

.wrap {
}
.wrap:after {
    display: block;
    clear: both;
    content: "";
}

.fr {
    float: right;
    width: auto;
}
.fl {
    float: left;
    width: auto;
}

.ta-r {
    text-align:right;
}
.ta-l {
    text-align:left;
}

.cnt-color {
    color: slateblue;
}

.btn-no-outline {
    border: none;
    background-color: transparent;
}

.inf-background {
    height: auto;
    width: auto;
    margin: auto;
    background: #D7DCE4;
    border-radius: 1.5rem;
    border-style: solid;
    border-color: #AFBACA;
    border-width: 0.2rem;
}

.p-id {
    font-size: 1.125rem;
}

.cp {
    cursor : pointer;
}

.circle-img {
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    position: relative;
    display: block;
}
.circle-normal {
    width: 4rem;
    height: 4rem;
}
.circle-big {
    width: 4.25rem;
    height: 4.25rem;
}
.circle-position {
    display: flex;
    justify-content: center;
    position: absolute
}

.border-white {
    border-style: solid;
    border-color: white;
}

.ml-a {
    margin-left: auto;
}

.m-20 {
    margin: 1.25rem;
}

.p-container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: auto;
    height: 65vh;
}

.p-box {
    display:flex!important;
    color:#6c757d!important;
    padding: 1rem .25rem!important;
    border-bottom:1px solid #dee2e6!important
}

.circle-container {
    margin-right:1rem!important;
    display: flex;
    justify-content: center;
}

.bg-primary {
    background-color: #7F61E9;
}
.color-secondary {
    background-color: #AFAFAF;
}

.follow-btn {
    background-color: #7F61E9;
    border-color: #7F61E9;
    box-shadow: transparent;
}

.layer-1st {
    z-index: 2;
    position: relative;
}
.layer-2nd {
    z-index: 1;
    position: relative;
}

.more-icon {
    background-color: #F0F3F7;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: #7F61E9;
}

.vertical-parent {
    display: table;
}
.vertical-child {
    display: table-cell;
    vertical-align: middle;
}

.outline-white {
    border: outset 0.5rem white;
}

.box {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.modal-title-custom {
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    font-size: 1.3rem;
}

.modal-dialog {
    max-width: 550px;
    margin: 2rem auto;
}

@media all and (max-width: 600px) {
    .modal-dialog {
        max-width: 90%;
    }
}

.p-btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .475rem .875rem;
    font-size: 1.175rem;
    border-radius: 0.5rem;
    white-space:nowrap;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .p-btn {
        transition: none
    }
}

.p-btn-primary {
    color: #fff;
    background-color: #7F61E9;
    border-color: #7F61E9
}

.p-btn-secondary {
    color: #fff;
    background-color: darkgray;
    border-color: darkgray
}

.btn-unfollow {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #bb2d3b
}
/*-- participants.html end --*/

/*-- editProfile.html end --*/
.user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.user-avatar {
    margin: 0 0 1rem 0;
}
.user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
h5.user-name {
    margin: 0 0 0.5rem 0;
}
h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.about p {
    font-size: 1rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.ep-form {
    border-radius: 0.8rem;
    height: 3.5rem;
}

.circle-profile {
    width: 15rem;
    height: 15rem;
}
.circle-img-edit {
    width: 70px;
    height: 70px;
}

@media (max-width: 600px) {
    .circle-profile {
        width: 10rem;
        height: 10rem;
    }

    .circle-img-edit {
        width: 50px;
        height: 50px;
    }
}

.ep-nickname {
    font-size: 1.5rem;
}
.ep-email {
    font-size: 1rem;
    color: gray;
}

.color-primary {
    color: #7F61E9;
}

.ep-form-group {
    margin-bottom: 1.5rem
}

.ep-textarea {
    resize: none; border-radius: 0.8rem;
}
/*-- editProfile.html end --*/

.timeline-navbar-brand {
    margin-left: 50%;
    transform: translateX(-60%);
}


@media (min-width: 450px) and (max-width: 600px) {
    .timeline-navbar-brand {
        margin-left: 25%;
        transform: translateX(0);
        font-size: 30px;
    }
    .timeline-navbar-dropdown {
        margin-left: 50%;
    }
}

@media (min-width: 425px) and (max-width: 450px) {
    .timeline-navbar-brand {
        margin-left: 20%;
        transform: translateX(0);
        font-size: 30px;
    }
    .timeline-navbar-dropdown {
        margin-left: 30%;
    }
}

@media (min-width: 400px) and (max-width: 425px){
    .timeline-navbar-brand {
        margin-left: 15%;
        transform: translateX(0);
        font-size: 30px;
    }
    .timeline-navbar-dropdown {
        margin-left: 20%;
    }
}

@media (max-width: 400px) {
    .timeline-navbar-brand {
        margin-left: 10%;
        transform: translateX(0);
        font-size: 30px;
    }

    .timeline-navbar-dropdown {
        margin-left: 10%;
    }
}

#timeline-vote-submit-btn {
    width: 25px;
    height: 30px;
}

#timeline-vote-analyze-btn {
    width: 25px;
    height: 30px;
    fill: #FFFFFF;
}

#timeline-vote-empty-blank {
    padding-bottom: 30px;
    width: 90%;
    float: left;
}

@media (min-width: 500px) and (max-width: 560px) {
    #timeline-vote-empty-blank {
        width: 88%;
    }
}

@media (max-width: 500px) {
    #timeline-vote-empty-blank {
        width: 85%;
    }
}