.bg-linear-gradient {
    background: linear-gradient(180deg, #7F8AE5 0%, #E3DCEA 41.15%, rgba(255, 243, 236, 0.23) 77.08%, #FFFFFF 100%);
}

/* 로그인 */

.logo p {
    font-size: 100px;
    font-family: 'Oleo Script Swash Caps', cursive;
    user-select: none;
}

.login-id-password-input-and-button {
    width: 80%;
}

@media (max-width: 481px) {
    .logo p {
        font-size: 65px;
        font-family: 'Oleo Script Swash Caps', cursive;
        user-select: none;
    }

    .login-id-password-input-and-button {
        height: 3rem;
        width: 60%;
    }
}

.text-blue {
    color: #322293;
}

.text-shadow-blue {
    text-shadow: -4px 6px 6px #322293;
}

.text-shadow-white {
    text-shadow: -4px 6px 6px white;
}

.hover-text-blue-bold:hover {
    color: #322293;
    font-weight: bold;
}

.bg-login-input {
    background: rgba(255, 255, 255, 0.5);
}

.radius-20 {
    border-radius: 20px;
}

.border-none {
    border: none;
}

.border-blue {
    border: 1px solid #322293;
}

.bg-none {
    background: none;
}

.login-input {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: none;
}

.login-input:focus {
    outline: none;
}

.login-submit {
    background: none;
    border-radius: 20px;
    border: 1px solid #322293;
    color: #322293;
}

.login-submit:hover {
    background: #322293;
    color: white;
}

.login-etc {
    color: #5E718D !important;
}

.login-etc:hover {
    text-decoration: none !important;
    color: #5E718D !important;
    font-weight: bold !important;
}

.hover-cursor-pointer:hover {
    cursor: pointer;
}

.back-to-login-a:hover {
    cursor: pointer;
    color: black !important;
}

.hover-shadow-white:hover {
    box-shadow: 0px 0px 5px 5px white;
}

.hover-decoration-none:hover {
    text-decoration: none;
}

.focus-none:focus {
    outline: none !important;
    border: none !important;
}

.vertical-center {
    left: 50%;
    transform: translate(-50%, 0);
}

.horizontal-center {
    top: 50%;
    transform: translate(0, -50%);
}

.center-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-height: 600px) {
    .center-center {
        top: 70%;
    }
}

@media (max-height: 700px) and (min-height: 601px) {
    .center-center {
        top: 45%;
    }
}

@media (max-height: 800px) and (min-height: 701px) {
    .center-center {
        top: 65%;
    }
}

@media (max-height: 900px) and (min-height: 801px) {
    .center-center {
        top: 55%;
    }
}

.center-bottom {
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
}

.text-puple {
    color: #7F8AE5;
}

.text-bold {
    font-weight: bold;
}

.hover-text-black:hover {
    color: #0b2e13;
}

.vote-date {
    border: 1px solid #AFBACA;
    border-radius: 6px;
}

.vote-option {
    border: 1px solid #dee2e6;
    padding-right: 75px !important;
}

.vote-option:focus {
    border: 1px solid #dee2e6 !important;
    padding-right: 75px !important;
}

.vote-option-img1 {
    width: 20px;
    right: 30px;
    top: 9px;
    content: url("https://user-images.githubusercontent.com/90389517/220822069-2962256f-4e12-4f48-869b-80fc123ee572.png")
}

.scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.bookmark-off path {
    d: path("M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z")
}

.bookmark-on path {
    d: path("M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z");
    fill: #7a57f6;
}

@media (min-width: 600px) {
    .navbar-width {
        width: 600px;
    }
}

.search-input-width {
    width: 80%;
    position: relative;
}

@media (max-width: 542px) and (min-width: 425px) {
    .search-input-width {
        width: 75%;
    }
}

@media (max-width: 424px) and (min-width: 386px) {
    .search-input-width {
        width: 73%;
    }
}

@media (max-width: 386px) {
    .search-input-width {
        width: 70%;
    }
}