<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">

  <meta charset="UTF-8">
  <title>Pickgether</title>
  <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min2.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/style2.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/addMoreInfo.css}">

  <!-- 픽게더 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://kit.fontawesome.com/52921a30db.css" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/script.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
    window.onload = function(){
      document.getElementById("address").addEventListener("click", function(){ //주소입력칸을 클릭하면
        //카카오 지도 발생
        new daum.Postcode({
          oncomplete: function(data) { //선택시 입력값 세팅
            document.getElementById("address").value = data.address; // 주소 넣기
          }
        }).open();
      });
    }
  </script>

</head>
<body>
<div class="timeline-background bg-linear-gradient">

  <header class="addMoreInfo-header">
    <h1 class="addMoreInfo-header__title">픽게더에 오신것을 환영합니다</h1>
    <p class="addMoreInfo-header__text">당신에 대해 더 알려주세요!</p>
  </header>

  <form action="/추가정보입력처리 컨트롤러로 이동" method="POST" id="addMoreInfo-form">
    <label>연령대</label>
    <input name="age_range" type="text" placeholder="  20 또는 30과 같이 입력해주세요">

    <label>성별</label>
    <input name="gender" type="text" placeholder="  M 또는 F로 입력해주세요">

    <label>직업</label>
    <div class="selectBox">
      <select name="job" class="select">
        <option disabled selected>직업 선택 👷</option>
        <option value="???">전문가 및 관련 종사자</option>
        <option value="???">사무 종사자</option>
        <option value="???">서비스 종사자</option>
        <option value="???">판매 종사자</option>
      </select>
      <div class="icoArrow"><i class="fa-thin fa-caret-down dropdown"></i></div>
    </div>

    <label>주소</label>
    <input name="address" id="address" type="text" placeholder="  주소를 입력해주세요">

    <input type="submit" value="시작하기">

  </form>

</div>

</body>
</html>