<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Pickgether</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">

    <!-- 픽게더 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="timeline-background h-100">
    <header class="d-flex flex-wrap align-items-center py-3 border-bottom">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left"
             viewBox="0 0 16 16" onclick="location.href='/timeline'">
            <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
        <div class="my-0 mx-auto">
            <h4 class="nav-link px-2 link-dark" style="margin-bottom: 0;">comments</h4>
        </div>
    </header>
    <div class="mb-3">
        <th:block th:each="comment : ${comments}">
            <div class="d-flex text-muted pl-3 pt-3 border-bottom">
                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded-circle" width="32" height="32"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                     preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#CA5151"></rect>
                </svg>
                <div class="pb-3 mb-0 w-100 small lh-sm">
                    <div class="d-flex justify-content-between mb-1">
                        <div class="text-dark text-bold" th:text="${comment.userDto.nickname}"></div>
                        <div class="mr-2 d-flex">
                            <th:block th:if="${comment.userDto.userId != userId}">
                                <form method="post">
                                    <button class="text-bold bg-none border-none" onclick="beforeCheck('이 댓글에 공감하십니까?')"
                                            type="submit">공감
                                    </button>
                                </form>
                            </th:block>
                            <th:block th:if="${comment.userDto.userId == userId}">
                                <button th:id="${comment.id}" class="text-bold bg-none border-none"
                                        onclick="click_editCommentBtn(this.id)">수정
                                </button>
                                <form method="post"
                                      th:action="${#httpServletRequest.requestURI} + '/' + ${comment.getId()} + '/delete'">
                                    <button class="text-bold bg-none border-none" onclick="beforeCheck('댓글을 삭제하시겠습니까?')"
                                            type="submit">삭제
                                    </button>
                                </form>
                            </th:block>
                        </div>
                    </div>
                    <div th:id="${'content' + comment.getId()}" th:text="${comment.content}" class="mb-2"></div>
                    <div class="mb-2" style="display: none;" th:id="${'form' + comment.getId()}">
                        <form method="post"
                              th:action="${#httpServletRequest.requestURI} + '/' + ${comment.getId()} + '/edit'">
                            <input type="text" th:value="${comment.content}">
                            <button class="text-bold bg-none border-none"
                                    type="submit">수정
                            </button>
                        </form>
                    </div>
                    <div th:text="${#temporals.format(comment.modifiedAt, 'yy/MM/dd HH:mm')}" class="small"></div>
                </div>
            </div>
        </th:block>
    </div>
    <footer class="d-flex align-items-center py-3 ml-3 my-2 fixed-bottom">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded-circle" width="40" height="40"
             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
             preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#F07F7F"></rect>
        </svg>
        <form class="custom-form vw-100" method="post" th:action>
            <input type="text" class="custom-form-input" name="content" placeholder="댓글 달기..." required>
            <button class="custom-botton" type="submit">게시</button>
        </form>
    </footer>
</div>

</body>
</html>