<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Pickgether</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min2.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style2.css">

    <!-- 픽게더 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div class="timeline-background h-100">
    <header class="d-flex flex-wrap align-items-center py-3 border-bottom">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
        <div class="my-0 mx-auto">
            <h4 class="nav-link px-2 link-dark" style="margin-bottom: 0;">comments</h4>
        </div>
    </header>
    <div class="mb-3">
        <div class="d-flex text-muted pl-3 pt-3 border-bottom">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded-circle" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#CA5151"></rect>
            </svg>
            <p class="pb-3 mb-0 small lh-sm">
                <strong class="d-block text-dark mb-1">picker3</strong>
                행궁동 OO 예쁘던데 가보세요
            </p>
        </div>

        <div class="d-flex text-muted pl-3 pt-3 border-bottom">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded-circle" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#51CAAD"></rect>
            </svg>
            <p class="pb-3 mb-0 small lh-sm">
                <strong class="d-block text-dark mb-1">picker5</strong>
                수원역 고고고
            </p>
        </div>
    </div>
    <footer class="d-flex align-items-center py-3 ml-3 my-2 fixed-bottom">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded-circle" width="40" height="40" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#F07F7F"></rect>
        </svg>
<!--        <form class="p-2 vw-100">-->
<!--            <input type="text" class="form-control" placeholder="댓글 달기..." required>-->
<!--            <span class="input-group">-->
<!--                <button class="btn" type="submit" value="게시" ></button>-->
<!--            </span>-->
<!--        </form>-->
        <form class="custom-form vw-100">
            <input type="text" class="custom-form-input" placeholder="댓글 달기..." required>
            <button class="custom-botton" type="submit">게시</button>
        </form>
    </footer>
</div>
</body>
</html>