<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Pickgether</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body style="min-height: 100%;">

<!-- 타임라인에 넣을 예정-->
<!-- 배경 -->
<div id="vote_dial_normal" class="position-absolute w-100 h-100"
     style="display: none; background-color:rgba(0, 0, 0, 0.5);">

    <!-- 다이얼로그   -->
    <div class="radius-20 position-absolute bg-white center-center" style="width: 600px;">

        <!-- 다이얼로그 끄기 버튼, 투표 업로드 버튼-->
        <div class="border-bottom">
            <div class="mx-4 my-3 d-flex justify-content-between">
                <div id="vote_dial_normal_close"
                     class="hover-decoration-none text-puple hover-text-black hover-cursor-pointer">←
                </div>
                <div>새 투표 만들기</div>
                <a href="#" class="hover-decoration-none text-puple hover-text-black">업로드</a>
            </div>
        </div>

        <!-- 투표 본문 -->
        <form class="m-4">
            <!-- 투표 제목 -->
            <div class="col-12 mb-3">
                <input class="w-100 h-100 border-none border-bottom focus-none p-1" type="text" name="title"
                       placeholder="제목을 입력하세요" required>
            </div>

            <!-- 투표 카테고리, 해시태그 -->
            <div class="w-100 mb-4 d-flex justify-content-between">
                <div class="col-3 pr-3">
                    <select class="w-100 h-100 border-none focus-none border-bottom p-1" name="category" required>
                        <option value="" selected disabled hidden>카테고리</option>
                        <option value="1">자유</option>
                        <option value="2">고민</option>
                        <option value="3">설문</option>
                        <option value="4">기업</option>
                    </select>
                </div>
                <div class="col-9">
                    <input class="w-100 h-100 border-none border-bottom focus-none p-1" type="text" name="title"
                           placeholder="#해시태그" required>
                </div>
            </div>

            <!-- 투표 설명 -->
            <div class="col-12 mb-4">
            <textarea id="vote_content" class="w-100 rounded focus-none p-2"
                      style="resize: none; height: 100px; border: 1px solid #dee2e6;"
                      name="content"
                      placeholder="설명을 입력하세요" required></textarea>
                <div id="vote_content_cnt" class="col-12 text-right">0/120</div>
            </div>

            <!-- 투표 항목(선택지) -->
            <div class="col-12 mb-3">
                <input class="w-100 h-100 border-none rounded focus-none p-2"
                       style="border: 1px solid #dee2e6; padding-right: 75px!important;"
                       type="text" name="title"
                       placeholder="항목을 입력하세요" required>
                <img class="position-absolute" style="width: 20px; right: 60px; top: 9px"
                     src="https://user-images.githubusercontent.com/90389517/220822069-2962256f-4e12-4f48-869b-80fc123ee572.png">
                <img class="position-absolute" style="width: 18px; right: 30px; top: 10px"
                     src="https://user-images.githubusercontent.com/90389517/220822360-aa820f96-ab80-4e18-bede-fe445fdc375f.png">
            </div>
            <div class="col-12 mb-4">
                <input class="w-100 h-100 border-none rounded focus-none p-2"
                       style="border: 1px solid #dee2e6; padding-right: 75px!important;"
                       type="text" name="title"
                       placeholder="항목을 입력하세요" required>
                <img class="position-absolute" style="width: 20px; right: 60px; top: 9px"
                     src="https://user-images.githubusercontent.com/90389517/220822069-2962256f-4e12-4f48-869b-80fc123ee572.png">
                <img class="position-absolute" style="width: 18px; right: 30px; top: 10px"
                     src="https://user-images.githubusercontent.com/90389517/220822360-aa820f96-ab80-4e18-bede-fe445fdc375f.png">
            </div>
            <div class="col-12 d-flex justify-content-start row align-items-center">
                <img class="ml-3 mr-2" style="width: 17px; height: 17px;"
                     src="https://user-images.githubusercontent.com/90389517/220822898-07246cf6-10e1-42b4-b75f-79aac84a7adf.png">
                <div style="color: #65758E;">항목 추가</div>
            </div>
        </form>

        <!-- 투표 기간 -->
        <div class="border-top p-4">
            <div class="col-12 mb-3">투표 기간</div>
            <div class="col-12 my-2 d-flex justify-content-between align-items-center">
                <div>
                    <input class="vote-date p-1" type="datetime-local">
                </div>
                <div>~</div>
                <div>
                    <input class="vote-date p-1" type="datetime-local">
                </div>
            </div>
        </div>

        <!-- 공개 범위 -->
        <div class="border-top p-4">
            <div class="col-12 mb-3">공개 범위</div>
            <div class="row col-12 mx-1 my-2">
                <input class="mr-2" type="radio" name="display_range" value="public"> 전체 공개</input>
                <input class="mr-2 ml-4" type="radio" name="display_range" value="friend"> 친구 공개</input>
                <input class="mr-2 ml-4" type="radio" name="display_range" value="friend"> 친한 친구 공개</input>
            </div>
        </div>

    </div>
</div>

<!-- 투표 생성 버튼 -->
<div>
    <!-- 일반 투표 버튼 -->
    <button id="vote_btn_normal" class="rounded-circle border-none mb-3 focus-none"
            style="display: none; width: 60px; height: 60px; background: #7F8AE5;">
        <img style="width: 35px;"
             src="https://user-images.githubusercontent.com/90389517/220803459-fd7eab6b-3d22-4e44-88fa-74d729b4eb01.png">
    </button>
    <!-- 월드컵 투표 버튼  -->
    <button id="vote_btn_worldcup" class="rounded-circle border-none mb-3 focus-none"
            style="display: none; width: 60px; height: 60px; background: #7F8AE5;">
        <img style="width: 35px;"
             src="https://user-images.githubusercontent.com/90389517/220832225-a766d80e-34ef-4872-b7a1-a435d36ddea8.png">
    </button>
    <!-- 투표 버튼 close -->
    <button id="vote_btn_close" class="rounded-circle border-none focus-none"
            style="display: none; width: 60px; height: 60px; background: #BCB5D2;">
        <img style="width: 25px;"
             src="https://user-images.githubusercontent.com/90389517/220832327-f01acb10-b7e5-4ea2-ac5a-150122005c98.png">
    </button>
    <!-- 투표 버튼 open -->
    <button id="vote_btn_open" class="rounded-circle border-none focus-none"
            style="width: 60px; height: 60px; background: #7F61E9;">
        <img style="width: 25px;"
             src="https://user-images.githubusercontent.com/90389517/220832544-e2632051-dec4-4e36-ad16-a4d40fa82e2a.png">
    </button>
</div>

</body>
</html>

<!-- TODO : 디테일(form 태그 내부 간격, 폰트색상, 날짜 focus border), 투표 기간 제한(오늘 이전의 날짜 및 시간 선택 불가), 디바이스별로 배치 수정, 기타 기능 -->
<!-- 궁금한 점 : 태그 input을 따로 둬야하나요? 본문에 쓰되 #부터 공백문자가 나올 때까지를 뽑아내는 방법도 있고요. 따로 인풋 태그가 있는게 글자수도 제약 없고 처리하기 편해서 좋긴 합니다! -->