<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Pickgether</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="py-5" style="min-height: 100%;">
<div class="container h-100">

    <!-- 본문 -->
    <div class="d-flex justify-content-center align-items-center h-100">
        <div>


        </div>
    </div>

</div>
</body>
</html>

<!-- [수정할 것] -->