<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>Pickgether</title>
    <link href="/images/thumb-up.svg" rel="icon">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min2.css">
    <link rel="stylesheet" type="text/css" href="css/style2.css">

    <!-- 픽게더 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
</head>
<body class="bg-linear-gradient py-5" style="min-height: 100%; overflow-x: hidden;">
<div class="container h-100">

    <!-- 본문 -->
    <div class="position-absolute"
         style="left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);">
        <!-- 픽게더 타이틀 -->
        <div class="d-flex justify-content-center logo my-4">
            <p class="text-blue text-shadow-white mr-3">Pick</p>
            <p class="text-white text-shadow-blue">gether</p>
        </div>

        <!-- 로그인 창-->
        <div class="mb-4">
            <form th:action="@{/login}" method="post" class="text-center">
                <div>
                    <input class="login-input px-3 py-2 mb-2 login-id-password-input-and-button"
                           type="text" id="username" name="username" placeholder="아이디">
                    <input class="login-input px-3 py-2 mb-2 login-id-password-input-and-button"
                           type="password" id="password" name="password" placeholder="비밀번호">
                    <button class="login-submit p-2 mb-2 login-id login-id-password-input-and-button"
                            type="submit">로그인</button>
                </div>
            </form>
            <div class="d-flex justify-content-center mt-2 login-etc" style="cursor: pointer;">
                <a href="#" class="mr-4">아이디 찾기</a>
                <a href="#" class="mr-4">비밀번호 찾기</a>
                <a th:onclick="|location.href='@{signup}'|">회원가입</a>
            </div>
        </div>

        <!-- 소셜 로그인 -->
        <div class="d-flex justify-content-center mb-5" style="width: 500px;">
            <div class="rounded-circle p-3 hover-cursor-pointer hover-shadow-white mr-4"
                 style="width: 60px; height: 60px; position: relative; background: #F8DE0A;">
                <a href="/oauth2/authorization/kakao">
                    <img style="position: absolute; width: 36px; top: 14px; left: 12px;" src="https://user-images.githubusercontent.com/90389517/220653458-3695d61f-d795-4afe-be44-3bf21b08d3bf.png">
                </a>
            </div>
            <div class="rounded-circle p-3 hover-cursor-pointer hover-shadow-white mr-4"
                 style="width: 60px; height: 60px; background: #06BD34;">
                <a href="/oauth2/authorization/naver">
                    <img style="width: 30px;"
                         src="https://user-images.githubusercontent.com/90389517/220658326-89dbbb9e-6041-44e4-b3bd-4c93515af6d5.png">
                </a>
            </div>
            <div class="rounded-circle p-3 hover-cursor-pointer hover-shadow-white"
                 style="width: 60px; height: 60px; position: relative; background: white;">
                <a href="/oauth2/authorization/google">
                    <img style="position: absolute; width: 36px; top: 12px; left: 12px;"
                         src="https://user-images.githubusercontent.com/90389517/222617036-bd9d0558-cd4f-4a48-b267-1ba6f16aa645.png">
                </a>
            </div>
        </div>
    </div>

    <!-- 푸터 -->
    <div th:insert="~{fragment/footer :: footerFragment}" class="position-absolute center-bottom" style="width: 80%;"></div>

</div>
</body>
</html>

<!-- TODO : 디바이스별로 배치 수정 -->