<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>Pickgether</title>
    <link href="/images/thumb-up.svg" rel="icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">

    <!-- 픽게더 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        let isLoading = false;

        function getMyVote(page) {
            let container = document.getElementById("myVoteContainer");
            const userId = container.getAttribute("userId");

            $.ajax({
                url: "/get-my-vote?page="+page,
                type: "GET",
                dataType: "json",
                beforeSend: function () {
                    console.log("데이터 패치 시도");
                },
                success: function (data) {
                    if(data.myVote.empty == false) {
                        console.log(JSON.stringify(data));
                        if (data.myVote.last == true) {
                            container.onscroll = null;
                            console.log("마지막 페이지");
                        }
                        createMoreVote(data, data.myVote, container);
                        container.setAttribute("data-page", page.toString());
                    } else {
                        showEmptyState(container);
                        container.onscroll = null;
                        console.log("작성된 게시글 없음");
                    }
                    isLoading = false;
                },
                error: function () {
                    console.log("데이터 패치 중 에러 발생");
                }
            });
        }

        function loadMore() {
            let container = document.getElementById("myVoteContainer");
            if(container != null) {
                const scrollTop = container.scrollTop;
                const clientHeight = container.clientHeight;
                const scrollHeight = container.scrollHeight;
                const page = parseInt(container.getAttribute("data-page")) + 1;

                if (scrollHeight * 0.9 - scrollTop < clientHeight && !isLoading) {
                    isLoading = true;
                    getMyVote(page);
                }
            }
        }

        function editProfile() {
            const userId = document.getElementById("myVoteContainer").getAttribute("userId");
            location.href = '/edit-profile';
        }
    </script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/js/voteCreator.js}"></script>
    <script type="text/javascript" th:src="@{/js/status.js}"></script>
</head>
<body style="overflow-x: hidden;">
<script>
    window.onload = function () {
        if(!isLoading) {
            isLoading = true;
            getMyVote(0);
        }
    }
</script>
<div class="timeline-background h-100">
    <header class="d-flex flex-wrap align-items-center py-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left"
             viewBox="0 0 16 16" onclick="history.back()" style="margin-left: 1rem;">
            <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
        <div class="my-0 mx-auto">
            <h4 class="nav-link px-2 link-dark" style="margin-bottom: 0;" th:text="${user.nickname}"/>
        </div>
    </header>

    <div class="">
        <div class="row justify-content-around"
             style="margin-left: 0.1rem; margin-right: 0.1rem; --bs-gutter-x: 0px !important;">
            <div class="image status d-flex justify-content-center">
<!--                <img th:if="${user.getImageUrl() == null}" src="https://i.imgur.com/0LKZQYM.jpg" class="rounded-circle" width="80"/>-->
<!--                <img th:unless="${user.getImageUrl() == null}" th:src="${user.getImageUrl()}" class="rounded-circle" width="80"/>-->
                <img class="rounded-circle" th:src="${user.getImageUrl()==null ? '/image/user-dummy.jpeg' : user.getImageUrl()}"/>
            </div>

            <div class="status d-flex align-items-center flex-column justify-content-center">
                <div><span>팔로잉</span></div>
                <div><span th:text="${followingCnt}"/></div>
            </div>

            <div class="status d-flex align-items-center flex-column justify-content-center">
                <div><span>팔로워</span></div>
                <div><span th:text="${followerCnt}"/></div>
            </div>
        </div>

        <div class="mt-4" style="margin-left: 1rem;" th:text="${user.memo}"/>

        <div class="mt-4" style="margin-left: 1rem; margin-right: 1rem;">
            <button class="btn btn-outline-purple btn-sm px-2">팔로우</button>
            <span th:if="${user.userId == accountId}">
<!--                <button class="btn btn-outline-purple btn-sm" onclick="editProfile()">프로필 편집</button>-->
                <button class="btn btn-outline-purple btn-sm" onclick="location.href='/edit-profile'">프로필 편집</button>
            </span>
            <span th:unless="${user.userId == accountId}">
                <button class="btn btn-outline-purple btn-sm">메시지</button>
            </span>
        </div>
        <hr>
    </div>
    <!-- 마이 게시글 -->
    <div id="myVoteContainer" class="v-container scrollbar-none" th:userId="${user.userId}" onscroll="loadMore()">
    </div>
    <div style="height: 52px;"></div>
</div>

<!-- 하단바 -->
<div class="icons">
    <nav class="nav justify-content-around bg-light fixed-bottom bottom-navbar navbar-width"
         style="margin: auto; z-index: 998;">
        <!-- home icon -->
        <button type="button" onclick="location.href='/timeline'">
            <img src="/images/icons/home.svg" width="30" height="30" style="fill: #BCB5D2;">
        </button>
        <button type="button" onclick="location.href='/search'">
            <img src="/images/icons/search.svg" width="30" height="30" style="fill: #BCB5D2;">
        </button>

        <button class="rounded-circle border-none focus-none"
                style="width: 30px; height: 30px; background: #FFFFFF;">
        </button>

        <div class="floating-button">
            <div id="vote_btn_list" style="display: none;">
                <!-- 월드컵 투표 버튼  -->
                <span>
                    <button id="vote_btn_worldcup" class="rounded-circle border-none mb-3 focus-none"
                            style="width: 60px; height: 60px; background: #7F61E9; box-shadow: 3px 3px 3px #b0aeae;">
                        <img style="width: 35px;"
                             src="https://user-images.githubusercontent.com/90389517/220832225-a766d80e-34ef-4872-b7a1-a435d36ddea8.png">
                    </button>
                </span>
                <!-- 투표 버튼 close -->
                <span>
                    <button id="vote_btn_close" class="rounded-circle border-none focus-none list-open-btn"
                            style="width: 60px; height: 60px; background: #7F61E9; box-shadow: 3px 3px 3px #b0aeae;">
                        <img style="width: 25px;"
                             src="/images/icons/close.png">
                    </button>
                </span>
                <!-- 일반 투표 버튼 -->
                <span>
                    <button id="vote_btn_normal" class="rounded-circle border-none mb-3 focus-none"
                            style="width: 60px; height: 60px; background: #7F61E9; box-shadow: 3px 3px 3px #b0aeae;"
                            th:onclick="|location.href='@{form}'|">
                        <img style="width: 35px;"
                             src="https://user-images.githubusercontent.com/90389517/220803459-fd7eab6b-3d22-4e44-88fa-74d729b4eb01.png">
                    </button>
                </span>
            </div>
            <!-- 투표 버튼 open -->
            <button id="vote_btn_open" class="rounded-circle border-none focus-none"
                    style="width: 60px; height: 60px; background: #7F61E9; box-shadow: 3px 3px 3px #b0aeae;">
                <img style="width: 25px;"
                     src="/images/icons/plus.png">
            </button>
        </div>
        <button type="button">
            <img src="/images/icons/bell.svg" width="30" height="30" style="fill: #BCB5D2;">
        </button>
        <button type="button">
            <img src="/images/icons/setting.svg" width="30" height="30" style="fill: #BCB5D2;">
        </button>
    </nav>
</div>
</body>
</html>