<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100 signup-height">
<head>
    <meta charset="UTF-8">
    <title>Pickgether</title>

    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min2.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style2.css">

    <!-- 픽게더 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">

    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/signup.js"></script>
</head>
<body class="bg-linear-gradient py-5">
    <!-- 본문 -->
    <div class="position-absolute center-center pickgether-title">
        <!-- 픽게더 타이틀 -->
        <div class="d-flex justify-content-center logo my-4">
            <p class="text-blue text-shadow-white mr-3">Pick</p>
            <p class="text-white text-shadow-blue">gether</p>
        </div>

        <!-- 회원가입 창-->
        <div class="mb-4">
            <form class="text-center">
                <div>
                    <!-- 아이디 -->
                    <div style="text-align: left; margin-left: 60px;">
                        <label>아이디</label>
                    </div>
                    <div>
                        <input class="login-input px-3 py-2 mb-2" type="text" id="username" name="username"
                               style="width: 80%">
                    </div>

                    <!-- 비밀번호, 비밀번호 확인 -->
                    <div style="text-align: left; margin-left: 60px;">
                        <label>비밀번호</label>
                    </div>
                    <div>
                        <input class="login-input px-3 py-2 mb-2" type="password" id="password" name="password"
                               onKeyup="pw_validation();" style="width: 80%">
                    </div>

                    <!-- Todo: 비밀번호 규칙 부합 여부 확인하는 코드 추가 -->
                    <div class="password-validate">
                        <img src="/images/icons/cross-small.svg" id="pw_img"
                             style="width: 15px; height: auto;
                         filter: invert(37%) sepia(21%) saturate(4534%) hue-rotate(334deg) brightness(108%) contrast(73%);">
                        <label id="pwLabel">영문(대소문자), 숫자, 특수문자를 혼합한 8~20자</label>
                    </div>

                    <div style="text-align: left; margin-left: 60px;">
                        <label>비밀번호 확인</label>
                    </div>
                    <div>
                        <input class="login-input px-3 py-2 mb-2" type="password" id="password_check" name="password_check"
                               onKeyup="pw_pwcheck_isSame();" style="width: 80%">
                    </div>

                    <!-- Todo: 비밀번호 동일 여부 판단 -->
                    <div class="password-validate">
                        <img src="" id="pw_check_img"
                             style="width: 15px; height: auto;
                             filter: invert(37%) sepia(21%) saturate(4534%) hue-rotate(334deg) brightness(108%) contrast(73%);">
                        <label id="pwCheckLabel"></label>
                    </div>

                    <hr class="signup-hr">

                    <!-- 이메일 -->
                    <div style="text-align: left; margin-left: 60px;">
                        <label>이메일</label>
                    </div>
                    <div>
                        <input class="login-input px-3 py-2 mb-2" type="email" id="email" name="email"
                               onKeyup="email_validation();" placeholder="email@domain.com" style="width: 80%">
                    </div>

                    <div class="password-validate">
                        <img src="" id="email_img"
                             style="width: 15px; height: auto;
                             filter: invert(37%) sepia(21%) saturate(4534%) hue-rotate(334deg) brightness(108%) contrast(73%);">
                        <label id="emailLabel"></label>
                    </div>

                    <!-- 출생일 -->
                    <div style="text-align: left; margin-left: 60px;">
                        <label>출생일</label>
                    </div>
                    <div>
                        <form class="login-input px-3 py-2 mb-2">
                            <input type="date" name="birthday">
                        </form>
                    </div>

                    <!-- 메모 -->
                    <div>
                        <label style="display: block; text-align: left; margin-left: 60px;">Memo</label>
                    </div>
                    <div class="mb-3" style="width: 80%; display: block; margin: auto;">
                        <textarea placeholder="한 줄 소개" class="form-control" id="exampleFormControlTextarea1" rows="3" style="resize: none;"></textarea>
                    </div>

                    <button class="login-submit p-2 mb-2" type="submit" onclick="signupValidation()" style="width: 80%">회원가입</button>
                </div>
            </form>
            <div class="d-flex justify-content-center mt-2 login-etc">
                <a th:onclick="|location.href='@{login}'|" class="mr-4">이미 계정이 있습니다.</a>
            </div>
        </div>

        <!-- 소셜 로그인 -->
        <div class="d-flex justify-content-center mb-5" style="width: 500px; display: block; margin: auto;">
            <div class="rounded-circle p-3 hover-cursor-pointer hover-shadow-white mr-4"
                 style="width: 60px; height: 60px; position: relative; background: #F8DE0A;">
                <img style="position: absolute; width: 36px; top: 14px; left: 12px;"
                     src="https://user-images.githubusercontent.com/90389517/220653458-3695d61f-d795-4afe-be44-3bf21b08d3bf.png">
            </div>
            <div class="rounded-circle p-3 hover-cursor-pointer hover-shadow-white mr-4"
                 style="width: 60px; height: 60px; background: #06BD34;">
                <img style="width: 30px;"
                     src="https://user-images.githubusercontent.com/90389517/220658326-89dbbb9e-6041-44e4-b3bd-4c93515af6d5.png">
            </div>
            <div class="rounded-circle p-3 hover-cursor-pointer hover-shadow-white"
                 style="width: 60px; height: 60px; position: relative; background: white;">
                <img style="position: absolute; width: 36px; top: 12px; left: 12px;"
                     src="https://user-images.githubusercontent.com/90389517/222617036-bd9d0558-cd4f-4a48-b267-1ba6f16aa645.png">
            </div>
        </div>
    </div>
</body>
</html>